<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["RaphaelFreiWeb.styles.css"]"/>
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]"/>
    <ImportMap/>
    <HeadOutlet/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- Meta Tags Básicas -->
    <meta name="title" content="Raphael Frei | Software Architect & Engineer">
    <meta name="description" content="Portfolio of Raphael Frei, specializing in .NET architecture and Progress OpenEdge.">
    
    <!-- Open Graph / LinkedIn / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://raphaelfrei.com.br/">
    <meta property="og:title" content="Raphael Frei | Software Architect & Engineer">
    <meta property="og:description" content="Portfolio of Raphael Frei, specializing in .NET architecture and Progress OpenEdge.">
    <meta property="og:image" content="https://raphaelfrei.com.br/images/og-image-dev.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://raphaelfrei.com.br/">
    <meta property="twitter:title" content="Raphael Frei | Software Architect & Engineer">
    <meta property="twitter:description" content="Portfolio of Raphael Frei, specializing in .NET architecture and Progress OpenEdge.">
    <meta property="twitter:image" content="https://raphaelfrei.com.br/images/og-image-dev.jpg">
    
</head>

<body>
<Routes/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>